body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

/* header */
header{
	height: 860px;
	background-image: url(./Assets/header-background.png);
	background-repeat: no-repeat;
	display: flex;
	margin: 0 150px;
	flex-direction: column;
	align-items: center;
	
}
/* Navigation Bar */
nav {
	display: flex;
	justify-content: space-around;
	width: 1320px;
	height: 88px;
	align-items: center;
}

.left-card{
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

.right-card{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.login {
	border: 1px solid #717171;
	border-radius: 15px;
	padding: 5px;
}
.home a{
	color: #EB662B;
	
}

a {
	text-decoration: none;
	color: #05073C;
}
#adventure {
	margin-top: 100px;
}

section{
	margin-top: 100px;
}
/* Hero Section */
.hero{
	height: 600px;
	display: flex;
	flex-direction: column;
	margin: 100px 150px 0 150px;
}
.hero-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-header-h3{
	color: #05073C;
}
.hero-header-see{
	color: #05073C;
	font-size: smaller;
}
.hero-images{
	display: flex;
	justify-content: space-between;
	
}
.hero-images-cruise{
	border: 1px solid #717171;
	border-radius: 5px;
}
.hero-images-cruise img {
	width: 250px;
}

.hero-images-beach{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #717171;
	border-radius: 5px;
}
.hero-images-beach img {
	width: 250px;
}
.hero-images-city {
	display: flex;
	flex-direction: column;	
	border: 1px solid #717171;
	justify-content: space-between;
	border-radius: 5px;

}
.hero-images-city img {
	width: 200px;
}
/* .city{
	border: 1px solid;
	background-size: cover;
} */
.hero-images-food{
	display: flex;
	justify-content: space-between;
	/* border: 1px solid; */
}

/* Tour */
.tour{
	height: 296.38px;
	display: flex;
	flex-direction: column;
	margin: 50px 150px;
}
#tour-card{
	display: flex;
	justify-content: space-around;
	gap: 30px;
}
.tour-card {
	display: flex;
	flex-direction: column;
}
.tour-card img {
	width: 60px;
	height: 60px;
}
.tour-heading{
	font-weight: bolder;
	margin-top: 20px;
	font-size: large;
}
.tour-content{
	font-weight: lighter;
	font-size: larger;
}


/* Feature Trip */
.featured-trips{
	/* height: 1169.19px; */
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 0 150px;
}
.featured-trips-header{
	color: #05073C;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.featured-trips-header span a{
	font-weight: bolder;
	font-size: x-small;
}
.trips {
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.trips-row{
	display: flex;
	justify-content: space-evenly;
	gap: 20px;	
}
.card-trip{
	display: flex;
	flex-direction: column;
}
.card-trip img {
	width: 200px;
	height: 160px;
	border-radius: 10px;
}
.country {
	font-weight: lighter;
	margin: 5px 0 10px 30px;
	color: #717171;
}
.trip-header{
	font-weight: bolder;
	color: #05073C;
}

.trip-serialNo{
	text-align: center;
	color: #05073C;
	margin-top: 10px;
}
hr {
	color: #717171;
}
.day-amount{
	display: flex;
	justify-content: space-between;
	font-weight: bolder;
	color: #05073C;
}


/* Destinations */
.destinations{
	height: 730px;
	background-color: #05073C;
}

.destinations-header{
	display: flex;
	color: #fff;
	margin: 50px 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 100px;
}
.destinations-header span a {
	color: #fff;
	font-size: smaller;
	font-weight: lighter;
}
.destination-image{
	height: 400px;
	display: flex;
	justify-content: space-around;
	margin: auto 150px;
	align-items: center;
}
.destination-image img {
	height: 300px;
	border-radius: 10px;
}


/* Customer Reviews */
.customer-reviews{

	text-align: center;
}
.customer-reviews p {
	margin-bottom: 50px;
}
.image-rep{
	display: flex;
	justify-content: center;
}

/* Travel Articles */
.travel-articles{
	height: 529.98px;
}


/* Booking */
.booking{
	height: 514px;
	background-image: url(./Assets/booking-background-image.png);
}


/* footer */
footer{
	background-color: #05073C;
	height: 725.25px;
}